body {
  background-color: whitesmoke;
  margin: 0;
}

#alumni {
  background-color: cornsilk;
  height: 100vh;
  width: 100vw;
}

#boxes {
  position: relative;
}

.box {
  position: absolute;
}

#paths {
  position: absolute;
  z-index: 50;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.path {
  fill: none;
  stroke: slategray;
  stroke-width: 1;
}
