body {
  background-color: #fbf3e8;
  margin: 0;
}

#alumni {
  height: 100vh;
  width: 100vw;
}

#boxes {
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
}

.box img {
  margin: 8px 0;
}

.box__caption {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: slategray;
  font-size: 12px;
}

.box__caption--top {
  font-weight: bold;
}

#paths {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.path {
  fill: none;
  stroke: slategray;
  stroke-width: 1;
}
